<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
  html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
  .slidecontainer {
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;
    width: 75%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #16afc7;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #16afc7;
    cursor: pointer;
  }
</style>
<head>
  <title>Ball Chasing Dashboard</title>
</head>
<body class="w3-white">
  <div class="w3-full" style="height: 400px">
    <center>
    <div class="w3-quarter">
        <form method="POST" id="value_calibration">
            <div style="margin: 15px">
              <center><td><b>Calibration (HSV and Blob Detection)</b></td></center>
              <p></p>
              <div class="w3-half">
                <input style="width: 75%" type="range" min="0" max="255" value="0" class="slider" name="hsv_value_1" id="hsv_value_1" oninput="this.nextElementSibling.value = this.value">
                <output style="margin-left: 5px">0</output>
                <p></p>
                <input style="width: 75%" type="range" min="0" max="255" value="0" class="slider" name="hsv_value_2" id="hsv_value_2" oninput="this.nextElementSibling.value = this.value">
                <output style="margin-left: 5px">0</output>
                <p></p>
                <input style="width: 75%" type="range" min="0" max="255" value="0" class="slider" name="hsv_value_3" id="hsv_value_3" oninput="this.nextElementSibling.value = this.value">
                <output style="margin-left: 5px">0</output>
                <p></p>
              </div>
              <div class="w3-half">
                <input style="width: 75%" type="range" min="0" max="255" value="255" class="slider" name="hsv_value_4" id="hsv_value_4" oninput="this.nextElementSibling.value = this.value">
                <output style="margin-left: 5px">255</output>
                <p></p>
                <input style="width: 75%" type="range" min="0" max="255" value="255" class="slider" name="hsv_value_5" id="hsv_value_5" oninput="this.nextElementSibling.value = this.value">
                <output style="margin-left: 5px">255</output>
                <p></p>
                <input style="width: 75%" type="range" min="0" max="255" value="255" class="slider" name="hsv_value_6" id="hsv_value_6" oninput="this.nextElementSibling.value = this.value">
                <output style="margin-left: 5px">255</output>
                <p></p>
              </div>
              <output>Circularity:</output>
              <input style="width: 60%" type="range" min="0" max="1" value="0.00" class="slider" name="circularity_value" step="0.01" id="circularity_value" oninput="this.nextElementSibling.value = this.value">
              <output style="margin-left: 5px">0.30</output>
              <p></p>
              <output>Convexity:</output>
              <input style="width: 60%" type="range" min="0" max="1" value="0.00" class="slider" name="convexity_value" step="0.01" id="convexity_value" oninput="this.nextElementSibling.value = this.value">
              <output style="margin-left: 5px">0.15</output>
              <p></p>
              <output>Inertia:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</output>
              <input style="width: 60%" type="range" min="0" max="1" value="0.00" class="slider" name="inertia_value" step="0.01" id="inertia_value" oninput="this.nextElementSibling.value = this.value">
              <output style="margin-left: 5px">0.35</output>
            </div> 
        </form>    
    </div>
    <div class="w3-half">
        <div style="margin: 15px">
            <center>
                <td><b>Video Stream</b></td>
                <p></p>
                <img src="{{url_for('video_feed')}}">
            </center>
        </div>
    </div>
    <div class="w3-quarter">
        <div style="margin: 15px;">
            <center><td><b>Ball Data</b></td></center> 
            <p></p>
            <table class="w3-table w3-white w3-striped">
              <tr>
                <td style="text-align: left">Distance (inches)</td>
                <td style="text-align: right" id="depth"><i>0 inches</i></td>
              </tr>
              <tr>
                <td style="text-align: left">Angle (degrees)</td>
                <td style="text-align: right" id="angle"><i>0 degrees</i></td>
              </tr>
              <tr>
                <td style="text-align: left">HSV Values</td>
                <td style="text-align: right" id="hsv"><i>[0, 0, 0, 255, 255, 255]</i></td>
              </tr>
              <tr>
                <td style="text-align: left">PARAM Values</td>
                <td style="text-align: right" id="param"><i>[0.00, 0.00, 0.00]</i></td>
              </tr>
            </table>
            <p></p>
        </div>
    </div>
    </center>
  </div>
</body>
</html>
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

<script type="text/javascript">
    // Autosubmit functionality
    $('#value_calibration').change(() => {
        $('#value_calibration').submit();

    });
</script>
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax
            ({
                type:'POST',
                url:'/',
                data:
                {
                    hsv_value_1:$("#hsv_value_1").val()
                },
                success:function()
                {
                }
            })
    });
</script> 
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e) 
    {
            e.preventDefault();
            $.ajax
            ({
                type:'POST',
                url:'/',
                data:{
                hsv_value_2:$("#hsv_value_2").val()
                },
                    success:function()
                {
                }

            })

    });
</script> 
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                hsv_value_3:$("#hsv_value_3").val()
            },
                success:function()
            {
            }
        })
    });
</script> 
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                hsv_value_4:$("#hsv_value_4").val()
            },
                success:function()
            {
            }
        })
    });
</script> 
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                hsv_value_5:$("#hsv_value_5").val()
            },
                success:function()
            {
            }
        })
    });
</script> 
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                hsv_value_6:$("#hsv_value_6").val()
            },
                success:function()
            {
            }
        })
    });
</script> 
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                circularity_value:$("#circularity_value").val()
            },
                success:function()
            {
            }
        })
    });
</script>
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                convexity_value:$("#convexity_value").val()
            },
                success:function()
            {
            }
        })
    });
</script>
<script type="text/javascript">
    $(document).on('submit','#value_calibration',function(e)
        {
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'/',
                data:{
                inertia_value:$("#inertia_value").val()
            },
                success:function()
            {
            }
        })
    });
</script>
<script>
  (function update_depth() {
    $.get('/current_depth', function(current_depth) {
      $('#depth').html(current_depth);
      setTimeout(update_depth, 100);
    });
})();
</script>
<script>
  (function update_angle() {
    $.get('/current_angle', function(current_angle) {
      $('#angle').html(current_angle);
      setTimeout(update_angle, 100);
    });
})();
</script>
<script>
  (function update_hsv() {
    $.get('/current_hsv', function(current_hsv) {
      $('#hsv').html(current_hsv);
      setTimeout(update_hsv, 100);
    });
})();
</script>
<script>
  (function update_param() {
    $.get('/current_param', function(current_param) {
      $('#param').html(current_param);
      setTimeout(update_param, 100);
    });
})();
</script>